<footer>
		Stand vom	<time>{{ modified }}</time>
		{# <ul class="">
    <li class="">
      <a href="#top">Nach oben</a>
    </li>
    <li class="">
      <a href="#top">Datenschutz</a>
    </li>
    <li class="">
      <a href="#top">Impressum</a>
    </li>
  </ul> #}
</footer>