<header class="header">

	<a href="#main" class="skip-link">Zum Inhalt springen</a>

	<a href="/">
		<img class="header__logo" src="/assets/logo.svg" alt="Startseite" width="160" height="171">
	</a>

	{% if eleventyNavigation.key === "Stiftung" %}
		<h1 class="header__title">
			Gemeinschaftsstiftung Bolivianisches Kinderhilfswerk
		</h1>
	{% else %}
		<div class="header__title">
			Gemeinschaftsstiftung Bolivianisches Kinderhilfswerk
		</div>
	{% endif %}

</header>
