<!DOCTYPE html>
<html lang="de">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ title }}{% if eleventyNavigation.order != 1 %} — Gemeinschaftsstiftung Bolivianisches Kinderhilfswerk{% endif %}</title>
    <meta name="description" content="Die Gemeinschaftsstiftung Bolivianisches Kinderhilfswerk ist in Bolivien für Kinder und Jugendliche tätig, um deren Lebensbedingungen und Zukunft zu verbessern. Sie soll die Arbeit des Vereins Bolivianisches Kinderhilfswerk e.V. langfristig finanziell begleiten und absichern.">
    <link rel="icon" type="image/svg+xml" href="/assets/icons/favicon.svg">
    <link rel="stylesheet" href="/assets/scss/main.scss">
    <script type="module" src="/assets/javascript/main.js" defer></script>

    {% include 'fonts.njk' %}

  </head>

  <body>
    <a href="#main" class="skip-link">Zum Inhalt springen</a>

    <div class="container">

      {% include 'header.njk' %}

      <main id="main">

        {% block content %}
        {{ content | safe }}
        {% endblock %}

      </main>

      {% include 'footer.njk' %}

    </div>

  </body>

</html>
