{% extends "layout.njk" %}

{% block content %}
  <article>

    <section>
      <h1 class="page__title">
        {{ title }}
      </h1>
      <p class="post__metadata">Von
        {{ author }}</p>
    </section>

    {{ content | safe }}

  </article>
{% endblock %}
