/* ---------- body */

body {
  font-family: 'Nunito', system-ui, sans-serif;
  font-size: clamp(1rem, 0.5rem + 1vw, 1.25rem);  /* responsive base font-size */
  line-height: 1.5;
  color: var(--color-text);
  border-top: .8em solid var(--color-primary);
  margin: 0;
  display: grid;
  grid-template-columns: 1fr minmax(min-content, 50em) 1fr;
}


/* ------------ basic tag styling --*/

a {
  color: inherit;
}
