/* global */
@use 'variables';
@use 'base';
@use 'typography';
@use 'tables';

/* components */
@use 'header';





/* ------------ layout --*/

.container {
  margin: 2rem;
  grid-column: 2;
  display: grid;
  padding-bottom: 4rem;
}

@media (max-width: 600px) {
  .container {
    margin: 0.7rem;
  }
}


/* ------------ component: article   --*/

article:not(.post) {
  display: grid;
  grid-gap: var(--gap);
}

@media (min-width: 800px) {
  article:not(.post) {
    margin-top: 2rem;
    grid-template-columns: var(--grid);
    grid-gap: calc(var(--gap)*2);
  }

  section {
    grid-column: 2 / span 5;
  }
}


/* ------------ component: image --*/

.img--responsive {
  justify-self: center;
  display: grid;
}

.img--responsive>img {
  max-width: 100%;
  height: auto;
  border-radius: var(--gap);
  transform: rotate(1deg);
}

@media (min-width: 800px) {
  .img--responsive {
    grid-column: 1 / span 3;
  }

  .img--responsive>img {
    max-width: unset;
    width: 100%;
  }
}





/* ------------ component: nav --*/

.nav {
  margin: 1rem 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.25em;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  font-size: 110%;
}

.nav__button {
  padding: 0.5em;
  font-family: var(--font-title);
  font-weight: 800;
  list-style-type: none;
  text-align: center;
  background-color: var(--color-lightgrey);
}

@media (min-width: 800px) {
  .nav__button {
    flex: 1;
  }
}

.nav__button:hover:not(.nav__button--active) {
  background-color: rgb(233, 233, 233);
}

.nav__button--active {
  background-color: var(--color-primary);
}

.nav__button>a {
  text-decoration: none;
}


/* ------------ component: footer   --*/

footer::before {
  content: "";
  display: block;
  border-bottom: 0.5em solid #f3da76;
  width: 5rem;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
  margin-left: -1rem;
}

footer {
  margin-left: 1rem;
}


/* ------------ component: lists  --*/

.list--wide {
  margin-top: 1rem;
}

.list--wide>li {
  margin-bottom: 1rem;
}

.list--level2 {
  list-style-type: lower-latin;
}

.satzung__list {
  counter-reset: section;
}

.satzung__list>section>h4:not(.list__item--dontcount) {
  display: table;
}

.satzung__list>section>h4:not(.list__item--dontcount)::before {
  counter-increment: section;
  content: "§ "counter(section);
  display: table-cell;
  white-space: nowrap;
  padding-right: 0.5em;
}


/* ------------ component: post loop  --*/

.post {
  margin-bottom: 4em;
  /* transition: transform .2s ease-in-out; */
}

/* TODO: add animation on hover */
/* .post:hover {
  transform: scale(1.02);
} */

.post__metadata {
  font-style: italic;
  border-left: 0.5em solid var(--color-primary);
  padding-left: 0.5em;
  margin-bottom: 1.5em;
}

.post__title {
  font-size: 120%;
  margin-bottom: 1em;
  margin-top: 2em;
  font-family: var(--font-title);
  font-weight: 800;
  line-height: 1;
}

.post__title a {
  text-decoration: none;
}


/* ------------ component: gallery --*/

.gallery {
  grid-column: 1 / -1;
  margin-top: 2em;
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap:.15em;
  align-items: start;
  background-color: var(--color-lightgrey);
}

.gallery picture {
margin: 0;
grid-column: unset;
}

.gallery img {
width: 100%;
transform: unset;
border-radius: unset;
}


/* ------------ component: gallery-masonry --*/

.gallery-masonry {
  grid-column: 1 / -1;
  margin-top: 2em;
  columns: 16rem;
  column-gap: var(--gap-thin);
  background-color: var(--color-lightgrey);
}

.gallery-masonry picture {
  display: unset;
}

.gallery-masonry img {
  display: block;
  margin: 0 0 var(--gap-thin) 0;
  width: 100%;
  transform: unset;
  border-radius: unset;
}