/* ---------- CSS custom properties */

:root {
  --color-background: rgb(255 255 255);
  --color-primary: rgb(243 218 118);
  --color-text: hsl(0deg 0% 16%);
  --color-lightgrey: rgb(248 248 248);
  --font-title: 'Alegreya', serif;
  --gap: 1em;
  --gap-thin: .15em;
  --grid: repeat(6, 1fr);
}


/* ---------- SCSS variables */

$breakpoint: 800px;
