/* ------------ component: header -- */

.skip-link {
  background: var(--color-primary);
  position: absolute;
  top: .5em;
  left: .5em;
  padding: .5em;
  transform: translateY(-600%);
  font-family: var(--font-title);
}

.skip-link:focus-within {
  transform: translateY(0%);
}

.header a {
  text-decoration: none;
}

.header {
  display: flex;
  align-items: center;

  @media (max-width: 370px) {
    flex-wrap: wrap;
  }
}

.header__logo {
  width: clamp(3rem, 3rem + 10vw, 10rem);
  height: auto;
  margin-right: calc(var(--gap) / 2);
}

.header__title {
  margin: 0;
  font-family: var(--font-title);
  font-weight: var(--font-weight-bold);
  font-size: 2em;
  line-height: 1.2;
}

@media (max-width: 600px) {
  .header__title {
    font-size: 140%;
  }
}
