// Header

@use '../global/variables' as *;

.header {
  --header-height: clamp(2.5rem, calc(-.94rem + 22vw), 9.38rem);

  display: flex;
  gap: .5rem;

  @media (min-width: $breakpoint) {
    flex-direction: column;
  }

  &__brand {
    display: flex;
    align-items: center;
    gap: .5rem;
  }

  &__logo {
    display: block;
    width: clamp(2.5rem, calc(-.94rem + 22vw), 9.38rem);
    height: auto;
  }

  &__title {
    margin: 0;
    font-family: var(--font-title);
    font-weight: var(--font-weight-bold);
    font-size: clamp(.88rem, calc(.4rem + 3.06vw), 2.5rem);
    line-height: 1.2;
    padding-inline-end: calc(64px);

    @media (min-width: $breakpoint) {
      padding-inline-end: 0;
      flex-direction: column;
    }
  }
}

