/* ------------ component: header -- */

.skip-link {
  background: var(--color-primary);
  position: absolute;
  top: .5em;
  left: .5em;
  padding: .5em;
  transform: translateY(-600%);
  font-family: var(--font-title);

  &:focus-visible {
    transform: translateY(0%);
    outline: 2px solid var(--color-text);
    outline-offset: -2px;
    text-decoration: none;
  }
}

.header {
  display: flex;
  align-items: center;
  gap: .5rem;

  @media (max-width: 370px) {
    flex-wrap: wrap;
  }

  &__logo {
    width: clamp(3rem, 3rem + 10vw, 10rem);
    height: auto;
  }

  &__title {
    margin: 0;
    font-family: var(--font-title);
    font-weight: var(--font-weight-bold);
    font-size: 2em;
    line-height: 1.2;

    @media (max-width: 600px) {
      font-size: 140%;
    }
  }
}

