/* ------------ component: image -- */
@use '../global/variables' as *;


.image {
  justify-self: center;
  max-width: 100%;
  height: auto;
  border-radius: var(--gap);
  transform: rotate(1deg);

  @media (min-width: $breakpoint) {
    grid-column: 1 / span 3;
    max-width: unset;
    width: 100%;
  }
}

