/* ------------ component: nav -- */
@use '../global/variables' as *;

.nav {
  margin: 0;
  padding: 6rem var(--page-margin) var(--page-margin);
  display: flex;
  flex-direction: column;
  gap: .25em;
  font-size: 110%;

  @media (min-width: $breakpoint) {
    margin: 1rem 0;
    padding: 0;
    flex-wrap: wrap;
    flex-direction: row;
  }

  &__item {
    list-style-type: none;

    @media (min-width: $breakpoint) {
      flex: 1;
    }
  }

  &__link {
    display: block;
    padding: .5em;
    text-decoration: none;
    font-family: var(--font-title);
    font-weight: var(--font-weight-bold);
    text-align: center;
    background-color: var(--color-lightgrey);

    &[aria-current] {
      background-color: var(--color-primary);
    }

    &:hover:not([aria-current]) {
      background-color: rgb(233 233 233);
    }

    &:focus-visible {
      outline: 2px solid var(--color-text);
      outline-offset: -2px;
    }
  }
}
