/* ---------- variables */

:root {
  --color-primary: rgb(243, 218, 118);
  --color--text: hsl(0, 0%, 16%);
  --color-lightgrey: rgb(248, 248, 248);
  --font-title: "Alegreya", serif;
  --gap: 1em;
  --grid: repeat(6, 1fr);
}


/* ---------- body */

body {
  font-family: "Nunito", system-ui, sans-serif;
  font-size: clamp(1rem, 0.5rem + 1vw, 1.25rem);  /* responsive base font-size */
  line-height: 1.5;
  color: var(--color--text);

  border-top: .8em solid var(--color-primary);
  margin: 0em;
  display: grid;
  grid-template-columns: 1fr minmax(min-content, 50em) 1fr;
}


/* ------------ basic tag styling --*/

a {
  color: inherit;
}

td {
  vertical-align: top;
  padding-right: 2rem;
  border-bottom: 2px dotted var(--color-primary);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

tr:first-child>td {
  border-top: 2px dotted var(--color-primary);
}

@media (max-width: 800px) {
  tr {
    display: grid;
    grid-auto-flow: row;
    border-bottom: 2px dotted var(--color-primary);
  }

  td {
    border-bottom: none;
  }

  td:nth-child(2) {
    padding-left: 2rem;
    padding-top: 0;
    padding-bottom: 1rem;
  }

  td:nth-child(1) {
    padding-top: 0;
    padding-bottom: 0;
  }

  tr:first-child>td:nth-child(2) {
    border-top: none;
  }
}

.page__title:not(.post__title) {
  font-size: 400%;
  margin-bottom: 0rem;
  margin-top: 0.2em;
  font-family: "Alegreya", serif;
  font-weight: 800;
  color: #f3da76;
  line-height: 1;
}

@media (max-width: 800px) {
  .page__title:not(.post__title) {
    font-size: 140%;
    color: inherit;
    margin-bottom: 1rem;
    margin-top: 2em;
  }
}

h3 {
  font-size: 300%;
  margin-bottom: 0rem;
  margin-top: 0.2em;
  font-family: "Alegreya", serif;
  font-weight: 800;
  color: #f3da76;
  line-height: 1;
}

@media (max-width: 800px) {
  h3 {
    font-size: 140%;
    color: inherit;
    margin-bottom: 1rem;
    margin-top: 2em;
  }
}

h4 {
  font-size: 140%;
  margin-bottom: 1rem;
  margin-top: 2em;
  font-family: "Alegreya", serif;
  font-weight: 800;
  line-height: 1;
  text-decoration: none;
}


/* ------------ layout --*/

.container {
  margin: 2rem;
  grid-column: 2;
  display: grid;
  padding-bottom: 4rem;
}

@media (max-width: 600px) {
  .container {
    margin: 0.7rem;
  }
}


/* ------------ component: article   --*/

article:not(.post) {
  display: grid;
  grid-gap: var(--gap);
}

@media (min-width: 800px) {
  article:not(.post) {
    margin-top: 2rem;
    grid-template-columns: var(--grid);
    grid-gap: calc(var(--gap)*2);
  }

  section {
    grid-column: 2 / span 5;
  }
}


/* ------------ component: image --*/

.img--responsive {
  justify-self: center;
  display: grid;
}

.img--responsive>img {
  max-width: 100%;
  height: auto;
  border-radius: var(--gap);
  transform: rotate(1deg);
}

@media (min-width: 800px) {
  .img--responsive {
    grid-column: 1 / span 3;
  }

  .img--responsive>img {
    max-width: unset;
    width: 100%;
  }
}


/* ------------ component: gallery --*/

.gallery {
  grid-column: 1 / -1;
  margin-top: 2em;
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap:.15em;
  align-items: start;
  background-color: var(--color-lightgrey);
}
.gallery picture {
margin: 0;
grid-column: unset;
}

.gallery img {
width: 100%;
transform: unset;
border-radius: unset;
}


/* ------------ component: header --*/

.skip-link {
  background: var(--color-primary);
  position: absolute;
  top:.5em;
  left: .5em;
  padding: .5em;
  transform: translateY(-600%);
  transition: transform 0.3s;
  font-family: var(--font-title);
}

.skip-link:focus-within {
  transform: translateY(0%);
}

.header a {
  text-decoration: none;
}

.header {
  display: flex;
  align-items: center;
}


.header__logo {
  width: 6em;
  width: clamp(3rem, 3rem + 10vw, 10rem);
  margin-right: calc(var(--gap)/2);
}

.header__title {
  margin: 0;
  font-family: "Alegreya", serif;
  font-weight: 800;
  font-size: 2em;
}

@media (max-width: 600px) {
  .header__title {
    font-size: 140%;
  }

}


/* ------------ component: nav --*/

.nav {
  margin: 1rem 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.25em;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  font-size: 110%;
}

.nav__button {
  padding: 0.5em;
  font-family: "Alegreya", serif;
  font-weight: 800;
  list-style-type: none;
  text-align: center;
  background-color: var(--color-lightgrey);
}

@media (min-width: 800px) {
  .nav__button {
    flex: 1;
  }
}


.nav__button:hover:not(.nav__button--active) {
  background-color: rgb(233, 233, 233);
}

.nav__button--active {
  background-color: var(--color-primary);
}

.nav__button>a {
  text-decoration: none;
}


/* ------------ component: footer   --*/

footer::before {
  content: "";
  display: block;
  border-bottom: 0.5em solid #f3da76;
  width: 5rem;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
  margin-left: -1rem;
}

footer {
  margin-left: 1rem;
}


/* ------------ component: lists  --*/

.list--wide {
  margin-top: 1rem;
}

.list--wide>li {
  margin-bottom: 1rem;
}

.list--level2 {
  list-style-type: lower-latin;
}

.satzung__list {
  counter-reset: section;
}

.satzung__list>section>h4:not(.list__item--dontcount) {
  display: table;
}

.satzung__list>section>h4:not(.list__item--dontcount)::before {
  counter-increment: section;
  content: "§ "counter(section);
  display: table-cell;
  white-space: nowrap;
  padding-right: 0.5em;
}


/* ------------ component: post loop  --*/

.post {
  margin-bottom: 4em;
  /* transition: transform .2s ease-in-out; */
}

/* TODO: add animation on hover */
/* .post:hover {
  transform: scale(1.02);
} */

.post__metadata {
  font-style: italic;
  border-left: 0.5em solid var(--color-primary);
  padding-left: 0.5em;
  margin-bottom: 1.5em;
}

.post__title {
  font-size: 120%;
  margin-bottom: 1em;
  margin-top: 2em;
  font-family: "Alegreya", serif;
  font-weight: 800;
  line-height: 1;
}

.post__title a {
  text-decoration: none;
}

