---
title: Weihnachtsbrief 2017
date: 2017-12-01
author: Karen Hochmann
---
<section>
<p>Liebe Freunde in Deutschland,</p>

<p>Ein arbeitsreiches Jahr geht zu Ende, und was sich hier im CEMVA-Projekt ereignet hat, ist Folgendes: Vom Land ziehen viele Familien an den nördlichen Stadtrand von Sucre. Sie suchen vor allem Arbeit, Schulbildung für ihre Kinder und Gesundheitsfürsorge. Der Vorort Villa Armonía hat sich im Laufe der Jahre daher so vergrössert, dass ein von CEMVA geführtes soziales, integrales Gesundheitszentrum als Anlaufstelle für die vom Land zugezogene Bevölkerung unter Mitarbeit der staatlichen Gesundheitsbehörde und des Bürgermeisteramtes dringend gebraucht wird. So hat sich ein weiteres Teilprojekt zu den schon bestehenden CEMVA-Projekten gesellt. Es gilt der Gesundheitsfürsoge und trägt den Namen CISSVA (Centro Integral de Medicina Social Villa Armonía).<br>
  <!-- excerpt -->
  Die üblichen Preise im Stadtzentrum was Laboruntersuchung, Ecografie, Fachärztliche Behandlung, Medikamente, Elektokardiogram etc. anbetrifft, sind für die verarmte Landbevölkerung unerschwinglich. Wir wollen die Ausgaben für integrale Medizin daher so niedrig als nur möglich halten. CISSVA wird sich, nach dem Vorbild von CIMES (Centro Integral Medicina Social mit zwanzigjähriger Erfahrung), nach einiger Zeit, trotzdem selbst tragen können. Allerdings wird ein Anfangskapital zur Einrichtung der Behandlungsräume durch Spendengeld dingend benötigt.<br>

  Der untere Teil des leerstehenden "Freiwilligenhauses", eines Privathauses, wurde dafür aus-und umgebaut. Das ermöglichte grössten Teils eine grossherzige Spende aus Österreich. Vorerst stehen die Räumlichkeiten mit einem "Comodato"-Vertrag unentgeldlich zur Verfügung. CEMVA hat die Verantwortung für das neue Projekt übernoimmen und hofft das Anwesen eines Tages, mit Hilfe von Spendengeldern, kaufen zu können.</p>

<p>Drei Kinderkrippen, der Schülermittagstisch und drei Gruppen für Hausaufgabenbetreuung, dazu der Näh-und Handarbeitskurs für Migrantenfrauen vom Land, zahnärztliche Betreuung und Elternberatung, Schreinerei und Bäckerei haltenn das CEMVA-Team in Trapp.</p>

<img class="img--responsive wide" src="pelicula_cemvafrauen.jpg">

<p>Ein <a href="https://www.youtube.com/watch?v=ChAmAlGuddc" target="_blank">Film über die Land- Frauenfortbildung</a> ist fertiggestellt worden. Ihr könnt ihn auf <a href="https://www.youtube.com/watch?v=ChAmAlGuddc" target="_blank">Youtube</a> sehen.</p>

<p>Weihnachten beschäftigt nun die Gemüter der Kinder und des Personals. Es winken zudem die "Sommerfrerien". Zuvor steht jedoch ein Grossreinemachen aller Räumllichkeiten an und die Sonderausgaben. Das Ende des Jahres bringt die CEMVA-Verwaltung immer in einige Bredrängnis. Die bescheidenen Einnahmen einer Oktober-Kermes können die Weihnachtsgeschenke für die Vierzigmannbelegschaft und für über 200 Kinder allein jedoch nicht retten, auch nicht die geringen Einkünfte der Schreinerei. <br>
  Es standen Ausgaben für zwei Rechtsanwälte an, einer von ihnen war für "asistencia familiar", d.h. für die Eintreibung von Kindergeld von untreuen Vätern, und der andere für die Aktualisierung der CEMVA-Dokumente zuständig. Der Bäcker musste bezahlt werden. Er sollte für drei Kinderkrippen und die Kinder der Hausaufgabenbetreuung, bromatfreies Brot von der staatlichen Mehlzulieferung herstellen.<br>
  Der Haushaltsplan für das Jahr 2018 beschaftigt z.Z. in mehreren Sondersitzungen den CEMVA-Vorstand. Aus Deutschland wird gemeldet, dass weniger Spenden eingehen. Wie werden wir das kommende Jahr gestalten können? Das ist die bange Frage.</p>

<p>Alles in allem liegt ein bewegtes Jahr hinter uns. Hervor zu heben ist die gute Mitarbeit von deutschen und französischen Freiwilligen, denen die Projktarbeit mit den Kindern soweit Spass zu machen scheint. Wir sind den jungen Leuten sehr dankbar für ihren Einsatz. Auch übernimmt der eine oder die andere eine Patenschaft für ein Kind aus verarmen Familien oder hilft mit Stuhl, Tisch, Bett oder Spielzeug für ein besseres Leben.<br>
  Euch "Mitarbeitern" in Deutschland ganz herzlichen Dank für alles Interesse an dem CEMVA-Projekt und für alle Spenden.</p>

<p>Feliz Navida Y un Próspero Año Nuevo<br>
  Frohe Weihnachten und ein gutes neues Jahr<br>
  wünscht Karen Hochmann und das CEMVA-Team</p>
  </section>