---
title: Weihnachten 2018
date: 2018-12-01
author: Constantina und Julio Cesar
---
<section>
<p>Liebe Paten und Spender,</p>

<p>
  wir haben in diesem Jahr in den drei Kinderkrippen (Alegria, Villa Armonia A
  und B), den beiden Schülermittagstischen (Alegria und Comedor) und den zwei
  Gruppen mit Hausaufgabenbetreuung 276 Kindern geholfen.
</p>
<p>
  Euer Beitrag hat in den Kinderkrippen und Mittagstischen für Schüler der
  unteren Klassen 134 Kindern ein nahrhaftes, wachstumsförderndes Essen mit
  garantiert, jedoch es nur zu 25% abgedeckt. In den Kinderkrippen trägt der
  Staat die Hälfte der Kosten, die Paten und die Eltern bestreiten mit ihrem
  Monatsbeitrag 25% und den Rest müssen größere Sonderspenden abdecken. Ein
  Mittagessen mit Suppe, einem Hauptgericht, Getränk und Nachtisch kostet 17 Bs
  (2 €), d.h. im Monat 47 €. Unser ganz besonderer Dank gilt dem Verein Jugend
  und Sozialarbeit in Bolivien, der das CEMVA-Projekt von Anfang an unterstützt
  und es trotz seiner Schließung noch bedacht hat.
</p>
<!-- excerpt -->

</section>
{% image "./src/posts/201812/guarderia.jpg", "Essen in der Kinderkrippe" %}
<section>

<p>
  Der Essensbeitrag 100 Bs (12 €) pro Patenkind war für alle gleich. 500 Bs (62
  €) bekommt jede „Patenfamilie“ für Weihnachtsgeschenke und den Rest haben wir
  nach langer Beratung in einen großen Topf gegeben für Schulmaterial im
  kommenden Jahr. Wir haben versucht Verwaltungsarbeit zu sparen und keine
  Missgunst unter den Familien aufkommen zulassen.
</p>

<p>
  Frohe Weihnachten und ein gutes Neues Jahr wünschen Euch<br/>
  Constantina und Julio Cesar vom CEMVA-Team
</p>
</section>