---
title: Novemberbrief 2019
date: 2019-11-01
author: Karen Hochmann
---

<section>
<p>Liebe Patinnen und Paten,</p>
<p>
  Das Schuljahr 2019 geht langsam dem Ende zu. Nach den Präsidentschaftswahlen
  am 20. Oktober verschlechterte sich generell die Lage in Bolivien. Erfolgreich
  war jedoch unser jährlicher Ausflug mit den beiden Schülermittagstischen aus
  Villa Armonia A und Villa Alegria. Heuer ging es nach Katalla, einer
  wunderschönen Anlage mit zwei Schwimmbädern, Sportplätzen und einem kleinen
  Spielplatz. Zusammen mit ein paar Erzieherinnen der Kindertagestätten und dem
  Verwaltungspersonal starteten wir unseren Ausflug am Morgen des 24. Oktobers.
</p>
<!-- excerpt -->
<img class="img--responsive wide" src="katalla_3.jpg"
  alt="Schwimmbad-Ausflug nach Katalla"
/>
<p>
  Die Kinder freuten sich schon sehr auf den Ausflug, da dieser letztes Jahr
  bedauerlicherweise ausfiel. Anfangs wurden gleich die Sportplätze zum Fußball
  - und Volleyballspielen genutzt, aufgrund des warmen Wetters, ging es dann
  aber relativ schnell in Richtung Pool. Die Kinder hatten eine große Freude,
  viele wollten gemeinsam mit den Freiwilligen schwimmen lernen. Ein Großteil
  der Kinder verbrachte den restlichen Tag im Pool. Alles in allem war es ein
  sehr gelungener und schöner Ausflug, der vor allem durch euch und die
  Freiwilligen ermöglicht wurde. Dafür möchten wir uns ganz herzlich bedanken.
</p>
<img class="img--responsive wide" src="katalla_2.jpg"
  alt="Schwimmbad-Ausflug nach Katalla"
/>
<p>
  Nach den Wahlergebnissen vom 20. Oktober begann ein landesweiter Bürgerstreik,
  weswegen die Kinder für fast 4 Wochen keine Schule hatten. Da wir diese Zeit
  nicht einfach tatenlos verbringen und vor allem den Kindern die Möglichkeit
  geben wollten, auch in dieser schwierigen Phase weiterhin den
  Schülermittagstisch zu besuchen, entschlossen wir uns, den Schülermittagstisch
  schon ab 10 Uhr morgens für die Schüler zu öffnen. Vormittags wurde fleißig
  gebastelt und gezeichnet, am Nachmittag machten wir gemeinsam mit den Kindern
  Mathe, -Lese, oder Schreibübungen, damit sie später keine Schwierigkeiten
  hatten, sich wieder in der Schule einzufinden. Am 31. Oktober (Halloween)
  bereiteten wir eine Art „Schnitzeljagd“ für die Kinder vor. Die Kinder mussten
  durch Tips immer den nächsten Standort herausfinden und bekamen dort dann
  verschiedene Süßigkeiten. Bei dieser Vormittagsaktion hatten alle sehr viel
  Spaß.
</p>
<img class="img--responsive wide" src="halloween.jpg"
  alt="Halloween"
/>
<p>
  Momentan gibt es 52 Patenkinder, die von den Einrichtungen und
  Dienstleistungen von CEMVA profitieren. Die Kinder sind sehr dankbar für das
  tägliches Essen und natürlich für die Unterstützung bei den Hausaufgaben.
</p>
<img class="img--responsive wide" src="comedor.jpg"
  alt="Kinder lernen im Comedor(Hort)"
/>
<p>
  Das Gesundheitszentrum CISSVA (Centro Integral de Salud Social Villa Armonia)
  hat dieses Jahr alle Paten-Kinder der verschiedenen Projekte auf ihre
  Zahngesundheit untersucht, fluorisiert, teilweise Zähne „repariert“ oder
  gezogen. Dies ist für die Kinder sehr wichtig, da viele nicht die Möglichkeit
  oder den Zugang zu Gesundheitszentren haben. Unsere Sozialarbeiterin konnte im
  vergangenen Monat aufgrund des Streiks bedauerlicherweise keine Hausbesuche
  durchführen. Doch da die Blockierungen Anfang der Woche aufgehoben wurden,
  werden die Hausbesuche wieder regelmäßig durchgeführt. So vergewissert sich
  die Sozialarbeiterin, dass es den Familien gut geht und ihnen, wenn notwendig,
  auch helfen. Die jetzigen Freiwilligen werden sie dabei begleiten.<br/>
  Wir freuen uns schon sehr auf Weihnachten und das Einkaufen der Geschenke für
  eure Patenkinder. Die Kinder fiebern auch schon auf das kommende
  Ferienprogramm im Jänner hin, welches ihnen die Möglichkeit bietet,
  verschiedenen Aktivitäten mit den Freiwilligen zu machen. Dabei dürfen alle
  Kinder aus Villa Armonia und Villa Alegria teilnehmen. Organisiert werden die
  vier Wochen Ferienprogramm von den Freiwilligen.<br/>
  Im Großen und Ganzen war es, trotz der politischen Probleme im Oktober und
  November, ein erfolgreiches Jahr 2019. Wir bedanken uns bei euch Paten, für
  eure Unterstützung, ohne die viel nicht möglich wäre. Wir wünschen ein
  gesegnetes Weihnachtsfest und ein gutes neues Jahr.
</p>
<p>Euer CEMVA-Team</p>
</section>