---
title: Sommerbrief Juni 2019
date: 2019-06-01
author: Nadine Haueisen
---
<section>
<p>Liebe Patinnen und Paten, liebe Spenderinnen und Spender,</p>
<p>
  das Schuljahr 2019 hat in Bolivien im Monat Februar begonnen, bei CEMVA
  (Centro Educativo Multifuncional Villa Armonia) gab es vorher ein vierwöchiges
  Ferienprogramm für die Kinder im Viertel Villa Armonia, das von unseren
  Freiwilligen organisiert wurde.Die Kinder hatten die Gelegenheit nachmittags
  von 14-16 Uhr an unserem Ferienprogramm kostenlos teilzunehmen und bekamen
  anschließend auch eine kleine Vesper. Das Ferienprogramm beinhaltete eine
  Vielfalt an Aktivitäten. Pro Tag kamen durchschnittlich 40 Kinder im Alter von
  1 bis 13 Jahren. Es waren sehr erfolgreiche 4 Wochen für CEMVA und für die
  Freiwilligen.
</p>
<!-- excerpt -->
<p>
  Am 15. Januar hat wieder der normale Alltag bei CEMVA begonnen und es gab
  bisher viel zu tun. Ende 2018 haben die Direktorin sowie ihre 2
  Mitarbeiterinnen unsere Institution verlassen. Dafür wurde eine neue
  Sekretärin eingestellt und unser Personalstand in der Verwaltung ist wie
  folgt: Buchhalter, Sozialarbeiterin, Sekretärin und Hausmeister. Das
  Büropersonal zusammen mit den Freiwilligen ist dafür verantwortlich, dass in
  den vielfältigen Einrichtungen des Projekts alles läuft. Momentan arbeiten in
  den drei Kinderkrippen 21 Erzieherinnen acht Stunden am Tag, die sich um
  insgesamt 145 Kinder im Alter von 0-6 Jahren kümmern. Zusammen mit den
  Freiwilligen arbeiten in den zwei Schülermittagstischen 3 Lehrerinnen, die für
  das Mittagessen und die Hausaufgabenbetreuung verantwortlich sind. 80
  Schulkinder im Alter von 6-14 Jahren nehmen insgesamt an den zwei
  Schülermittagstischen (in Villa Armonia und Alegria) und der anschließenden
  Hausaufgabenbetreuung teil. Die Kinder bekommen täglich ein gesundes und
  ausgewogenes Essen und erhalten Unterstützung bei den Hausaufgaben.
</p>
<p>
  Im Bereich der Sozialarbeit hat die Sozialarbeiterin in den vergangenen 4
  Monaten 52 Hausbesuche sowohl bei schon begünstigten als auch bei neuen
  Familien absolviert. Diese Hausbesuche werden ab und zu von Freiwilligen und
  Interessierten begleitet mit dem Ziel, sich die Lage mancher Familien genauer
  anzuschauen und so im gegebenen Fall eine Patenschaft zu übernehmen. Ein
  anderer Aspekt der Arbeit der Sozialarbeiterin ist der wöchentliche
  Kontrollbesuch in den 3 Kinderkrippen, die von CEMVA unterstützt werden.
  Monatlich finden dort auch Elternversammlungen statt, an denen die
  Sozialarbeiterin teilnimmt. Zu ihrem Aufgabenbereich gehört darüber hinaus die
  permanente Betreuung von chronischen Sozialfällen im Gesundheits-und
  schulischen Bereich sowie im Rechtswesen. Um den systematischen Überblick zu
  gewährleisten, erstellt sie Statistiken und schreibt Berichte über diese
  Sozialfälle.
</p>

<img class="img--responsive wide" src="comedor.jpg"
  alt="Schulkinder bei den Hausaufgaben, Comedor im Projekt CEMVA"
/>

<p>
  Mithilfe von Spendengelder wurden Einrichtungsgegenstände (Tische, Stühle,
  Betten, Matratzen) für 5 bedürftige Familien gekauft. Weiterhin besteht die
  Möglichkeit für Mütter, je einmal in der Woche an einem Fortbildungskurs und
  an einem Alphabethiesierungkurs teilzunehmen. Die Kinder des Projekts werden
  regelmäßig auf ihre Zahnhygiene untersucht. Dafür sorgt das Gesundheitszentrum
  CISSVA (Centro Integral de Salud Social Villa Armonia) zusammen mit den
  anderen Einrichtungen von CEMVA. Momentan beschränkt sich die
  Gesundheitsvorsorge auf zahnmedizinische Behandlungen (zu bezahlbaren
  Preisen).
</p>
<p>
  Unsere aktuellen 4 Freiwilligen vom BKHW haben gut mit uns zusammengearbeitet
  und bereits ihre Miniprojekte durchgeführt. Sie haben Ausflüge für unsere
  Kinder organisiert (Kino, Schlossbesuch und Dinosaurier-Park). Der neue
  Schülermittagstisch in Alegria hat ein gelungenes Jahr hinter sich, doch seine
  Zukunft ist noch ungewiss, da es uns noch nicht gelungen ist, genügend Spenden
  für das Projekt zu sammeln. Daher besteht gerade die Dringlichkeit
  Fördermittel in Form von Spenden für Alegria zu suchen. CEMVA wird natürlich
  auch auf anderen Wegen versuchen, Geld für das Projekt aufzubringen,
  beispielsweise durch den gelegentlichen Verkauf von Produkten aus der
  Tischler-Werkstatt. Die Einnahmen der von den Erzieherinnen und Büropersonal
  veranstalten Gemeinnützigeressensverkauf im April kam den Erzieherinnen zu
  Gute.
</p>
<p>
  Ab diesem Jahr unterstützen die Paten aus verwaltungstechnischen Gründen nicht
  mehr nur ein einzelnes Kind, sondern das gesamte Patenschaftsgeld kommt in
  einen ‚großem Topf‘. Aus diesem wird auch ein Teil der Essenversorgung der
  CEMVA-Einrichtungen bezahlt. Bei unseren 52 Paten aus verschiedenen Ländern
  bedanken wir uns sehr herzlich und hoffen auf ihr Einverständnis zu diesen
  Änderungen. Durch ihre Hilfe ermöglichen sie mehr Kindern den Besuch der
  CEMVA-Zentren.
</p>
<p>
  Es war bisher ein erfolgreiches Halbjahr 2019 aber zugleich gab es in den
  vergangenen Monaten auch vielfältige Probleme zu bewältigen. Hoffentlich
  können wir mit diesem Bericht euch einen kleinen Einblick in die
  augenblickliche Situation verschaffen, wir wünschen unseren Freunden auf jeden
  Fall einen schönen Sommer! Wir sind sehr dankbar für Ihre Unterstützung, mit
  der Sie zum Teil schon seit Jahren die Aufrechterhaltung unserer Institution
  ermöglichen.
</p>
<p>Für CEMVA, Nadine Haueisen</p>
</section>