---
title: Januarbrief 2020
date: 2020-01-30
author: Karen Hochmann
---
<section>
<p>
  Liebe Freunde,
</p>
<p>
  Ihr habt uns auch wieder im letzten Jahr, wie all die Jahre davor, treu begleitet. Wir wollen Euch berichten, was wir im vergangenen Jahr erreichen konnten und was uns in diesem Jahr an Einsatz bevorsteht.
  In unserer Vorstandssitzung vom 29.1.2020 haben wir Rückschau auf das vergangene Jahr gehalten. Wir konnten alle unsere Teilprojekte dank einer weiteren einmaligen Hilfe des sich schon verabschiedeten Vereins Jugend und Sozialarbeit in Bolivien und mit der Unterstützung von Patenschaften, auch von Kleiderspenden, ohne Defizit über die Runden bringen.
</p>

<!-- excerpt -->

<figure class="img--responsive">
  <img class="img--responsive" src="cemva_reunion.jpg" alt="Vorstandssitzung CEMVA" loading="lazy">
  <figcaption>Vorstandssitzung CEMVA
  </figcaption>
</figure>


<p>
  Insgesamt 70 Kinder von zwei Schülermittagstischen bekamen eine reichhaltige warme Mittagsmahlzeit und Hausaufgabenbetreuung mit einem kleinen Snack. Die Sozialarbeiterin machte zahlreiche Hausbesuche, interinstitutionelle Kontakte, im Büro tägliche Beratungen von Landfrauen – Kochunterricht einmal wöchentlich und viele Krankenbesuche. Sie spricht fließend Quechua und versteht sich so gut mit den Landfrauen.
</p>
<p>
  3 staatliche Kinderkrippen mit insgesamt 130 Kindern wurden mit ergänzenden Lebensmitteln, zusätzlichem eingeübten Personal, und monatlicher Elternberatung wirkungsvoll unterstützt.
  Viele zahnärztliche Behandlungen bedürftiger Kinder wurden von unserer Zahnärztin Narda gratis durchgeführt Das Patenschaftsgeld half dabei.
  Freiwillige aus Europa haben mitgeholfen, haben zudem zweimal im Jahr zur Freude der „Straßenkinder“ Ferienprogramme veranstaltet.
  In diesem Jahr stehen die gleichen Aufgaben an.
  Eine Brotfabrik hat sich in Villa Armonia niedergelassen und bietet Teilzeit Arbeitsplätze für Frauen an- Wir sind an deren Vermittlung mitbeteiligt.
  Vermittlungsfunktion haben wir auch bei den Einschreibungen im Kinderkrippen-, Kindergarten-, Schul-, und Erwachsenenbildungswesen. Die vielfältige Gesundheitsberatuung bei den monatlichen Elternversammlungen steht immer mit auf der Tagesordnung.
  Die Küchen der Schülermittagstische in Villa Armonia und Alegria müssen mit Lebensmitteln versorgt, die Speisekammern kontrolliert werden. Ein kleiner altersschwacher Lieferwagen, der ständig gewartet werden muss, hilft uns dabei.
</p>


<figure >
  <img class="img--responsive" src="cemva_team.jpg" alt="Team CEMVA" loading="lazy">
  <figcaption>Lisbeth Palaguerra (Apoyo en centro de salud CISSVA), Gagriela Paca (profesora apoyo escolar centro Alegria), Narda Villca (Dentista centro de salud CISSVA), Constantina Mostacedo (Trabajadora social), Señora Karen Hochmann (Fundadora y miembro Directorio CEMVA, Julio Cesar Apaza (Adminstrador CEMVA), Emy Castillo (Psicologa guarderias), Carolia Diaz (Secretaria CEMVA), Sonia Marcani (responsable Comedor A), Ausentes: nicht anwesend: Gabriel Chuquicea (portero talleres), Maxima Paniagua (Portera guardería) Angelica Aguilar (responsable comedor centro Alegria)
  </figcaption>
</figure>


<p>
  Das CEMVA-Team gibt sein Bestes, um zu helfen, wo Unterstützung erforderlich ist.
</p>
<p>
  Vielen Dank Euch Mitarbeitern in der Ferne!<br>
  Herzliche Grüße von uns allen,
</p>
<p>
  Karen Hochmann
</p>
</section>