---
title: September 2020
date: 2020-09-09
author: Karen Hochmann, Julio Cesar Apaza
---

<section>
<p>
  Liebe Freunde in Covid-Zeiten,
</p> 

<p>
Es ist für die armen Leute in Bolivien eine sehr schwere Zeit. Für CEMVA
ein Kopfzerbrechen, auf welche Weise geholfen werden kann. Fünf Monate
ohne Miete zahlen zu können, wegen Quarantäne und Arbeitslosigkeit
bedeutet auf die Straße gesetzt zu werden. Die Sozialarbeiterin muss
mit dem Eigentümer verhandeln und wenn möglich eine Teilzahlung
versprechen. Sie muss aus dem Topf der Sonderspenden genommen werden.
Meist betragen die Monatsmieten für ein kleines Zimmer 100 bis 150 Bs,
d.h. ca. 14 bis 20 €. Es ist die Miete, das Essen, die Medikamente,
der Unterricht, die Bekleidung, die Fahrtkosten.
</p><!-- excerpt -->

<p>
  Die Devise ist: Mund- und Nasenschutz, ständiges Händewaschen,
  Abstandhalten, nach Möglichkeit zu Hause bleiben. Wie soll das gehen,
  bei großen Familien in einem kleinen Raum, in dem mehrere Personen auf drei
  dünnen Strohmatratzen schlafen, und wo auch noch gekocht werden muss.
</p>

<p>
  Das CEMVA Personal packt und verteilt Lebensmittelpakete an 43
  Familien, die auf der Patenschaftsliste stehen, kauft und verteilt
  Desinfektionsmittel, auch Erste-Hilfe-Kästchen, besucht - trotz
  Ausgehverbot - einige Familien der Kinder von den zwei
  Schülermittagstischen und den drei Kinderkrippen, hört sich die Nöte
  alleinstehender Mütter an, die ein Zimmer suchen, von Vätern auf
  Arbeitssuche, von Kranken, die einen Arzt und Medikamente brauchen.
</p>

<p>
  Wohnen und Essen sind neben dem Erhalt von Unterricht für die
  Kinder armer Familien Priorität, aber auch die Gesundheitsvorsorge.
  Einmal in der Woche, in Zukunft auch zwei oder dreimal, je
  nach finanziellen Möglichkeiten, sollen die Familien in einer unserer
  Großküchen nahrhaftes Essen in einen mitgebrachten Topf
  bekommen.
  Statt 300 Bs können wir den Patenkindern diesmal für die Monate
  September, Oktober im Ganzen, dank der Covid-Spenden, 350 Bs auszahlen.
  Die Quarantänebestimmungen erschweren und verzögern unsere Arbeit
  hoffentlich bald etwas weniger.
</p>

<p>
  Habt im Namen der Familien und des CEMVA-Personals vielen Dank für alle Hilfe!
</p>

<p>
  Mit herzlichen Grüßen, <br>
  Karen Hochmann und Julio Cesar Apaza
</p>

</section>

