---
title: Frohe Ostern in den vier Wänden!
date: 2020-04-12
author: Karen Hochmann
---
<section>
  <p>Liebe Quarantäne-Covid19-Kameraden,</p>

  <p>Hier in Sucre wacht die Polizei streng, dass ja die Straßen seelenlos bleiben. Den übriggebliebenen Freiwilligen aus Dänemark, musste ich, zusammen mit meinem Ziehsohn, durch eindringliche Worte auf der Polizeistation loseisen, ohne für ihr Vergehen je 500 Bs bezahlen zu müssen.</p>

  <p>
    Es ist bewundernswürdig wie strikt sich die Bevölkerung an das Ausgehverbot in Sucre hält. Damit der Freiwillige allein in dem „Weltwärtshaus“ nicht trübsinnig wird, habe ich ihm einen Achtzehnjährigen aus der Nachbarschaft dazugesellt. Ich habe den beiden die Aufgabe gestellt, die Sachen der überstürzt abgereisten deutschen Freiwilligen durchzuforsten, die Wände neu zu streichen und den Regenbogen auf der dem Garten zugewandten Hausseite zu erneuern. Ein Maler aus der Nachbarschaft half dabei.
  </p>
  <!-- excerpt -->
  <p>
    Auch in der Kinderkrippe von Villa Armonía B wird tüchtig gemalt und ausgebessert, was schon längst fällig war. Aber wer soll das bezahlen? Das zuständige Bürgermeisteramt hat kein Geld, wird jahrelang daraufhin angesprochen, lässt was von deutscher Hilfe erbaut wurde in jämmerlichen Zustand geraten. Immerhin, der ansonsten arbeitslose Maler verdient sich so sein Essen. Wir hoffen weiter auf eventuelle kleine Spenden.
  </p>

  <p>
    Da die Schul- und Kinderkrippenkinder jetzt kein von ihren Paten mitfinanziertes und von CEMVA organisiertes Essen bekommen können, erhalten ihre Eltern das Patenschaftsgeld bar ausbezahlt, solange COVI regiert.
  </p>

  <p>
    Viele Ostergrüße von der CEMVA-Belegschaft
  </p>

</section>

{% image "./src/posts/20200414/20200218-sucre-villa-armonia-panorama.jpg", "Panorama des Stadtviertels Villa Armonia, Sucre, Bolivien, Februar 2020" %}
{# <figcaption style="grid-column: span 3">Panorama des Stadtviertels Villa Armonia, Sucre, Bolivien, Februar    </figcaption> #}