---
title: Individueller Freiwilligendienst im Projekt CEMVA
date: 2020-04-06
author: Verena Ribeiro
---
<section>
<p>
  Ich heisse Verena und komme aus der Schweiz. Im Januar 2020 habe ich mein Pensionsalter erreicht. Ich wusste, sobald ich pensioniert bin, möchte ich an einem Hilfsprojekt mit Kindern in Südamerika teilnehmen. Deshalb habe ich auf dem Internet recherchiert und bin dabei auf das Bolivianische Kinderhilfswerk (BKHW) in Sucre gestossen. Der Beschrieb der verschiedenen Projekte hat mir sehr gefallen. Auch ist als 'Individuelle Freiwillige' das Alter unbeschränkt, aber ein Mindestaufenthalt von 3 Monaten Voraussetzung. Und das war genau das Richtige für mich.
  Also bin ich im Mai 2019 nach Stuttgart, wo sich der Sitz des Bolivianischen Kinderhilfswerks befindet, gereist. Nach diesem Besuch haben meine Vorbereitungen für das Abenteuer begonnen. Reisedatum: 15. Februar 2020, Rückreise 15. Mai 2020. 
</p>
<!-- excerpt -->
<p>
  Am Sonntag, 16. Februar bin ich auf dem Flughafen in Sucre gelandet, und wurde von 4 Freiwilligen mit einem grossen Plakat mit der Aufschrift: 'Herzlich Willkommen in Sucre, Verena' empfangen.
  Ein sehr netter Empfang, den ich so nicht erwartet habe. Mit den Jugendlichen, alle zwischen 18 und 21 Jahre, sind wir dann zur Wohngemeinschaft gefahren, die für die nächsten 3 Monate mein zuhause werden sollte. Alle Freiwilligen, die ich während meines Aufenthaltes kennengelernt habe, waren für mich eine persönliche Bereicherung. Sehr nette, hilfsbereite und tolle junge Leute.  
</p>
<p>
  Am Montag, bevor ich zu meiner Arbeit eingeteilt wurde, habe ich Karen Hochmann kennengelernt,
  die jeden Montag eine Sitzung leitet, in der alles besprochen wird, was organisiert werden muss etc.
  Ich habe schnell bemerkt, dass sie diejenige ist, die durch ihre jahrelange Erfahrung den gesamten Ueberblick hat wie kein anderer. Auch ist es ihr zu verdanken, was im Laufe der Jahre dort alles an Gebäuden und vieles mehr entstanden ist… Sehr eindrucksvoll.
</p>
<p>
  Also habe ich am besagten Montagmorgen nach unserer Sitzung, meine Arbeit in der Garderia Sala 1 begonnen.  Im Sala 1 sind die Kinder zwischen 1 und 2 Jahre. Meine Arbeit bestand darin, mit den Kindern zu spielen, zu wickeln, beim Essen behilflich zu sein. Ich habe ihnen aus einem Kinderbuch namens «La Vaca Luluz» erzählt.  Nach dem Mittagessen, sie in ihre Bettchen gelegt für einen Mittagsschlaf.  Im Sala 1 wurde viel geweint, denn die Kinder mussten sich zuerst daran gewöhnen von ihren Eltern getrennt zu sein. Hier war also unsere erste Priorität, die kleinen Kinder zu trösten. Am Anfang war das für mich gar nicht einfach, denn die Kinder kannten mich nicht und haben bestimmt auch bemerkt, dass ich ganz anders aussehe. Wenn ich auf sie zugegangen bin, hatte ich immer das Gefühl, dass sie noch mehr angefangen haben zu weinen. Aber das hat sich nach ein paar Tagen gelegt.
</p>
<p>
  Die Kinder sind sehr empfänglich für Musik, und wir haben uns zusammen mit der Musik im Rhythmus bewegt und das hat allen gefallen. Die Kinder haben im Sala 1 ein Frühstück, ungefähr um 10 Uhr eine Zwischenmalzeit, ein Mittagessen, bestehend aus einer Gemüsesuppe und einer Hauptmalzeit, erhalten. Die beiden anwesenden Erzieherinnen haben sehr darauf geachtet, dass die Kinder auch genügend essen. Um 16.00 Uhr wurden sie dann von ihren Eltern oder Geschwistern abgeholt, aber vorher bekamen sie wieder einen kleinen Imbiss. Die Kinder wurden mit aller Aufmerksamkeit betreut, die man sich nur vorstellen kann. 
</p>
<p>
  So sind 4 Wochen vergangen, bis plötzlich der Albtraum des Coronavirus in allen Medien aufgetaucht ist und sich dieser Virus, besonders in Europa, rasant verbreitete. Alle Länder haben die Bürger, welche sich im Ausland aufgehalten haben zurückgerufen, denn die Gefahr bei einer Ansteckung in Ländern wie Bolivien wäre ein grosses Risiko, besonders wenn man schon ein gewisses Alter erreicht hat . Bolivien  mit einem schwachen Gesundheitssystem kommt schnell an seine Grenzen.  So musste ich, noch bevor die internationalen Flüge eingestellt wurden, am 19. März 2020 Sucre verlassen und die Heimreise antreten. Das war sehr traurig, denn es hat mir so gut gefallen und ich bereue nicht, diesen Schritt gewagt zu haben.   
</p>
<p>
  PS: Ich hoffe nun sehr, dass dieser Virus in Bolivien einen relativ milden Verlauf nimmt, denn nicht wie in Europa, kann man dort Milliarden in die Wirtschaft einfliessen lassen.
</p>
</section>

{% image "./src/posts/202004/20200218-ninos-guarderia-villa-armonia.jpg", "Krippenkinder in der 'Garderia', Februar 2020" %}