---
title: Julibrief 2020
date: 2020-07-04
author: Karen Hochmann
---

<section>
<p>
  Liebe Paten und Mitstreiter in der Corona-Pandemie!
</p> 

<p>
  Die Armen in der Welt leiden besonders unter der Quarantäne und der
  damit verbundenen Arbeitslosigkeit. Im CEMVA-Projekt betrifft es
  besonders die Erzieherinnen der geschlossenen  Kinderkrippen, die
  Familien der Patenkinder, die Köchinnen des Schülermittagstisch und
  die vom CEMVA Programm betreuten Kinder. Sie fragen immer wieder:
  wann wird der Schülermittagstisch geöffnet? Sie langweilen sich zu
  Hause und wollen mehr und mehr essen, sagen die Mütter.
</p><!-- excerpt -->

<p>Der Patenschaftsbeitrag wurde seit Mitte März den Familien direkt
ausgezahlt. Auch die vorsorglich gekauften Lebensmittel lassen wir
jetzt den Familien zukommen, zusammen mit Kleiderspenden, die  hier in
der Stadt gesammelt wurden.<p>

<p>
  Leider darf kein Unterricht gegeben werden. Wir raten aber  bei
  Hausbesuchen den älteren Geschwistern, sich um die jüngeren zu kümmern.
  Von 6 Uhr morgens bis 15 Uhr darf  jetzt wieder gearbeitet werden.
</p>

<p>
  Fahrgelegenheit gibt es jedoch nur von 6 bis 8 Uhr und von 12  bis 15
  Uhr und nur für Privatfahrzeuge. Es  ist Pflicht den Mund- und
  Nasenschutz zu tragen und sich die Hände des Öfteren gründlichst  zu
  waschen.
</p>

<p>
  Ausgaben für Desinfektionsmittel stehen an und Versammlungen sind verboten.
</p>

<p>
  Wir werden in den  kommenden Monaten auch noch auf den Schul-,
  Krippen- und Kindergartenbetrieb warten müssen. Der Kontakt zu
  den Patenkindern und  ihren Familien  wird weiterhin aufrechterhalten.
  Allen Paten und Spendern vielen herzlichen Dank im Namen der
  begünstigten Familien.
</p>
</section>
<style>
    .gallery {
        grid-column: 1 / -1;
        margin-top: 2em;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: var(--gap);
    }
    .gallery figure {
      margin: 0;
    }

    .gallery img {
      width: 100%;
    }
</style>

<section class="gallery">

  <figure>
    <a href="20200522-wa0007-visitas-a-las-casas-de-los-becados.jpg">
      <img class="img--responsive" src="20200522-wa0007-visitas-a-las-casas-de-los-becados-300.jpg" alt="Besuche in den Häusern der begünstigten Familien" loading="lazy">
    </a>
    <figcaption>Besuche in den Häusern der begünstigten Familien</figcaption>
  </figure>

  <figure>
    <a href="20200327-wa0011-entrega-de-dinero-a-familias-becadas.jpg">
      <img class="img--responsive" src="20200327-wa0011-entrega-de-dinero-a-familias-becadas-300.jpg" alt="Geldauszahlung an eine bedürftige Familie" loading="lazy">
    </a>
    <figcaption>Geldauszahlung an eine bedürftige Familie</figcaption>
  </figure>

  <figure>
    <a href="20200424-wa0025-arroz-aceite-azucar-fideo-leche.jpg">
      <img class="img--responsive" src="20200424-wa0025-arroz-aceite-azucar-fideo-leche-300.jpg" alt="Übergabe einer Tüte mit Lebensmitteln: Reis, Öl, Zucker, Nudeln, Milch" loading="lazy">
    </a>
    <figcaption>Übergabe einer Tüte mit Lebensmitteln: Reis, Öl, Zucker, Nudeln, Milch</figcaption>
  </figure>

  <figure>
    <a href="20200424-wa0028-entrega-de-bolsa-de-víveres.jpg">
      <img class="img--responsive" src="20200424-wa0028-entrega-de-bolsa-de-víveres-300.jpg" alt="Ausgabe eines Lebensmittelbeutels" loading="lazy">
    </a>
    <figcaption>Ausgabe eines Lebensmittelbeutels</figcaption>
  </figure>

  <figure >
    <a href="20200521-wa0026-entrega-de-cuna-a-familia.jpg">
      <img class="img--responsive" src="20200521-wa0026-entrega-de-cuna-a-familia-300.jpg" alt="Übergabe eines Kinderbettes an die Familie" loading="lazy">
    </a>
    <figcaption>Übergabe eines Kinderbettes an die Familie</figcaption>
  </figure>

</section>

<section><p>Fotos: Julio Cesar Apaza Huaygua</p></section>