---
title: Dezember 2021
date: 2021-12-09
author: Karen Hochmann
---

<section>

	<p>Liebe Freunde,  liebe Paten, </p>  
	<p>
		Ihr habt uns auch wieder in diesem Jahr, wie all die Jahre davor, treu begleitet. Wir wollen Euch berichten, was wir erreichen konnten und was uns im kommenden Jahr an Einsatz bevorsteht.<!-- excerpt -->
		Begrenzt und eingeschränkt durch das  Coronavirus wurde das Patenschaftsgeld samt Sonderspenden gerecht in Form von Lebensmitteln, Schulmaterial, vorbeugenden Medikamenten und Geld auf die Hand verteilt.
		 Mit Tablets, Handys und WLAN wurde in CEMVA Büroraeumen  virtueller Unterricht erteilt. Die Patenkinder, seit Anfang November von drei deutschen  Freiwilligen mitbetreut, sind ihren Paten sehr dankbar und wünschen Ihnen ein  frohes Weihnachtsfest und ein coronavirusfreies neues Jahr.
		Zu Weihnachten wünschen sich die Patenkinder ein Spielzeug und Schulmaterial fuer das kommende Schuljahr, das hoffentlich wieder in Praesenz ablaufen kann.
		Die Kinderkrippe in Villa Armonía A hat ihre Arbeit seit September mit Sicherheitsmassnahmen wieder aufgenommen. Zurzeit besuchen 20 Kinder von geimpften Eltern die Kinderkrippe.
		15 Landfrauen haben erfolgreich an einem Alphabetisierungskurs  und an Handarbeits- und Kochunterricht teilgenommen.
		Mit einer  eindrucksvollen, reichen, bunten Ausstellung ihrer Arbeiten und mit
		 Zeugnissen haben sie den Unterricht dieses Jahres erfolgreich abgeschlossen.
		Die Covid-Zeit wurde auch  für Ausbesserungsarbeiten an verschiedenen Gebäuden genutzt. Dachreparaturen und Malerarbeiten konnten in Ruhe vorgenommen werden.
		Monatliche Vorstandssitzungen haben die Coronaviruszeit mit gutem Rat begleitet.
		Leider mussten in den letzten zwei Jahren auf schulischem Gebiet große Lernverluste in Kauf genommen werden, die es im kommenden Jahr aufzuholen gilt.
	</p>
	<p>
		Habt noch einmal vielen, vielen Dank!<br>
		Karen Hochmann
	</p>
	
  {% image "./src/posts/20211209/cemva-team-2021-12.jpg", "Das CEMVA Team" %}
	
	<p>Auf dem  Foto sind zu sehen: 2 Köchingen, 4 Lehrerinnen, 3 Freiwillige, neben dem Verwalter: Karen Hochmann, die Sekretaerin, der Pförtner  und die Sozialarbeiterin.</p>

</section>
