---
title: Juni 2021
date: 2021-06-01
author: Karen Hochmann, Julio Cesar Apaza
---

<section>
  <p>Liebe Freunde, </p>
  <p>es ist eine schwere Zeit hier. Es ist Winter, in der Nacht bis zu minus Null Grad. Ferien wurden angeordnet, bzw. verlängert. Wie soll es nach den Ferien weitergehen? Es fehlt an Impfstoff. Die Betten in den Krankenhäusern sind überbelegt.</p>
  <!-- excerpt -->
  <p>Die Kinder im ersten,zweiten und dritten Schuljahr haben keine Ahnung von den Grundrechnungsarten im Zahlenraum bis 20 und können weder lesen noch schreiben. Wir sehen keine Besserung bis Ende des Jahres. Der CEMVA Vorstand versammelt sich monatlich, um die Lage immer wieder neu zu überdenken. Die Eltern der Patenkinder können sich die wichtigsten Lebensmittel aus dem in der Naehe gelegenen Laden frisch holen. Eine geführte Liste gibt über den anstehenden Betrag Auskunft. Von Extra-Spenden wird dreimal die Woche warmes Essen ausgeteilt. Ein Tropfen auf den heißen Stein angesichts der vielen Bedürftigen, die leer ausgehen und dem fehlenden Hilfspersonal.</p>
  <p>Wir danken von Herzen für alle zusätzliche Unterstützung und stehen für Fragen immer zur Verfügung<br> Karen Hochmann und Julio Cesar Apaza</p>
</section>

<section class="gallery-masonry">
  {% image "./src/posts/20210601/homeschoolingSucre1.jpg", "Homeschooling in Sucre" %}
  {% image "./src/posts/20210601/homeschoolingSucre2.jpg", "Homeschooling in Sucre" %}
  {% image "./src/posts/20210601/homeschoolingSucre3.jpg", "Homeschooling in Sucre" %}
</section>

