---
title: CEMVA en tiempos de Covid
date: 2021-03-23
author: Alejandro Pereyra
---

<section>
  <p>
  Der Filmemacher <a href="https://momentuario.wordpress.com/" target="_blank">Alejandro Pereyra Doria Medina</a> hat einen zwanzigminütigen Dokumentarfilm über den Alltag im Projekt CEMVA während der Corona-Pandemie gedreht. <!-- excerpt --> Die Dialoge und der Sprecherkommentar sind sind in Spanisch; deutsche Untertitel sind verfügbar (automatisch von Youtube übersetzt).
  </p>
</section>


<section class="video">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/8Ix9D-6X1l8?hl=de&amp;cc_lang_pref=de&amp;cc=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <style>
    .video {
      grid-column: 1 / -1;
      margin: 2em 0 4em;
      background-color: var(--color-lightgrey);
      padding: 1em;
    }
    iframe {
      display: block;
      width: 100%;
      height: auto;
      aspect-ratio: 16/9;
    }
  </style>
</section>
