---
title: Januar 2021
date: 2021-01-25
author: Karen Hochmann
---


<section>

<p>
  Liebe Paten und Spender, liebe Covid-19-Mitstreiter,
</p>
<p>
  wir haben das Jahr 2020 Dank Eurer Hilfe ohne größere Schäden überstanden und sehen uns nun am Anfang 2021 mit Eurer Unterstützung in der Lage wie gehabt alle zwei Monate 300 Bs an die Patenkinder auszuzahlen und ihnen dreimal in der Woche samt ihren jüngeren Geschwistern eine nahrhafte Essensportion auszuteilen, die sie mit nach Hause nehmen können, damit Comedor-Kontakt ausgeschlossen bleibt. Die Essensausgabe findet im Kinderhaus Alegría und der Kinderkrippe von Villa Armonía statt. Die Köchinnen werden jeweils abwechselnd von einer Mutter der Patenkinder unterstützt. Beide Ausgaben werden von zwei CEMVA-Angestellten geplant und beaufsichtig.
</p>
<!-- excerpt -->
<p>
  Bis die Modalitäten des neuen Schuljahres von der Schulbehörde öffentlich bekannt gegeben werden, begutachten und inventarisieren wir sämtliche Habseligkeiten von CEMVA, sofern sie in gutem Zustand sind und noch gebraucht werden oder abgestoßen werden müssen, bzw. einen neuen Besitzer bekommen sollen. <br>
  Wir tauschen uns mit Organisationen aus, die wie wir armen Familien helfen, durch die schwere Zeit zu kommen. So hat unsere Schreinerwerkstatt 40 Erste-Hilfe-Kästchen für Musuq Sunqu und auch Etagenbetten für kinderreiche Familien gefertigt. Auch in diesem Jahr wird die Schreinerwerkstatt die Sozialarbeit von CEMVA vor allem mit Ausbesserungsarbeiten begleiten.<br>
  Das Kinderhaus in Alegría bekommt einen Zimmeranbau für die Ausgabe des Mittagessens und die Hausaufgabenbetreuung (Kosten ca. 2.000 US-Dollar) und im Kinderhaus Villa Armonía B brauchen die Fenster einen Schutz vor dem Regen (Kosten ca. 400 US-Dollar).
</p>
<p>
  Schulutensilien sind im Großeinkauf billiger und sollen im CEMVA Gebäude zusammen mit den 300 Bs pro Patenkind ausgehändigt werden. Die von uns betreuten Patenkinder können so den Weg in die Stadt vermeiden. <br>
  Eingegangene Spendengelder werden die Anstellung von zwei Lehrerinnen ermöglichen, deren Unterricht 6 bis 12-jährigen Kindern zugutekommen soll, die mit virtuellem Unterricht nicht versorgt werden können. <br>
  Ab Februar wollen wir auch die Frauenfortbildung weiter anbieten. Zudem soll ein Alphabetisierungskurs stattfinden, um Mütter zu befähigen ihren Schulanfängern bei den Hausaufgaben zu helfen.
</p>
<p>
  Ganz herzlichen Dank für alle eingegangen Patenschaften und Spenden.
  Mit guten Wünschen für das Jahr 2021 und freundlichen Grüßen<br>
  Karen Hochmann
</p>

</section>

<section class="gallery-masonry">

  {% image "./src/posts/20210125/ErsteHilfeKaestchen.jpg", "Erste-Hilfe-Kästchen" %}
  {% image "./src/posts/20210125/Haendewaschen.jpg", "Haendewaschen" %}
  {% image "./src/posts/20210125/KoechinMittagessen.jpg", "Koechin Mittagessen" %}
  {% image "./src/posts/20210125/LustigeKinder.jpg", "LustigeKinder" %}
  {% image "./src/posts/20210125/Mittagessenausgabe.jpg", "Mittagessenausgabe" %}
  {% image "./src/posts/20210125/NachhilfeImRechnen.jpg", "NachhilfeImRechnen" %}
  {% image "./src/posts/20210125/Nachhilfeunterricht.jpg", "Nachhilfeunterricht" %}

</section>
