---
title: Blog
date: 2020-07-22
layout: layout.njk
eleventyNavigation:
  key: Blog
  order: 2
---

{# <main class="posts"> #}
<article>

  <section>

    <h1 class="page__title">Blog</h1>

    {%- for post in collections.post | reverse -%}
      <article class="post">
        <h2 class="post__title">
          <a href="{{ post.url }}">{{ post.data.title }}</a>
        </h2>
        <p class="post__metadata">Von
          {{ post.data.author }},
          {{  post.date.toLocaleDateString("de",{year:"numeric",month:"2-digit", day:"numeric"}) }}</p>
        <p>{{ post.data.page.excerpt | safe }}</p>
        <p>
          <a href="{{ post.url }}">Weiterlesen...</a>
        </p>
      </article>
    {%- endfor -%}
  </section>
</article>