---
title: Gemeinschaftsstiftung Bolivianisches Kinderhilfswerk
date: 2024-09-03
layout: layout.njk
eleventyNavigation:
  key: Stiftung
  order: 1
---

<article>
  <section>
    <h2 class="page__title">Die Stiftung</h2>

    <p>
      Die
      <i>Gemeinschaftsstiftung Bolivianisches Kinderhilfswerk</i>
      soll die Arbeit des Vereins
      <i>Bolivianisches Kinderhilfswerk e.V.</i>
      langfristig, auch für künftige Generationen, finanziell begleiten und
      absichern.
    </p>

    <p>
      Das
      <i>Bolivianische Kinderhilfswerk e.V.</i>
      ist in Bolivien für Kinder und Jugendliche tätig, um deren
      Lebensbedingungen und Zukunft zu verbessern. Es fördert Einrichtungen und
      Maßnahmen für diesen Personenkreis und trägt durch die Entsendung von
      Freiwilligen in die Projekte zur Völkerverständigung bei.
    </p>

    <p>
      Die Stiftung konnte nur entstehen, da es einen Menschen gab, der über sein
      Leben hinaus seine Unterstützung unseren Aufgaben zukommen lassen wollte.
      Ohne Anspruch auf die Nennung seines Namens vermachte er uns einen Teil
      seines Nachlasses. Die Erträge bilden die Grundlage der Stiftung und geben
      damit auch anderen Menschen die Möglichkeiten für Zustiftungen.
    </p>
  </section>

  {% image "./src/assets/photos/200901_comedor.jpg", "Krippenkinder sitzen an
  einem langen Tisch beim Essen" %}

  <section>
    <h2 class="h3">Bolivien</h2>

    <p>
      Fast die Hälfte der 7,8 Mio. Einwohner leben unterhalb der Armutsgrenze.
      Hohe Auslandsschulden, Korruption, Arbeitslosigkeit, Inflation und
      schwierige politische Verhältnisse führen zu einer notleidenden Situation
      insbesondere der indigenen Bevölkerung. Die verarmten Campesinos flüchten
      in die Stadt, dadurch verschärfen sich dort die sozialen Probleme. Am
      Schlimmsten trifft es wie immer die Schwächsten - die Kinder.
    </p>
  </section>
</article>
