---
title: Kontakt
date: 2023-01-03
layout: layout.njk
eleventyNavigation:
  key: Kontakt
  order: 6
---

<article>

  <section>

    <h1 class="page__title">Kontakt</h1>
    <p>
      Gemeinschaftsstiftung Bolivianisches Kinderhilfswerk<br>
      c/o Bolivianisches Kinderhilfswerk e.V.<br>
      Hackstr. 76<br>
      70190 Stuttgart
    </p>

    <p>
      Sitz der Stiftung: Stuttgart<br>
      Anerkennung der Stiftung durch das Regierungspräsidium Stuttgart, Aktenzeichen: 16-0563
    </p>

    <h2 class="h4" id="vorstand">Vorstand</h2>

    <ul class="list--wide">
      <li>
        Fabian Montenegro Nägele<br>
        Mozartstr. 2<br>
        71640 Ludwigsburg<br>
        <a
          href='&#109;ailto&#58;f%61b&#105;%61n&#46;%6D&#111;n&#116;%6&#53;&#37;&#54;Eeg&#114;&#111;&#64;b%6Bhw&#46;%&#54;F&#114;g'>fa&#98;ia&#110;&#46;mon&#116;ene&#103;ro&#64;bkhw&#46;&#111;rg</a>
      </li>
      <li>
        Lukas Diehlmann<br>
        Werderstraße 30<br>
        70190 Stuttgart<br>
        <a
          href='mailto&#58;&#108;%&#55;5&#107;as&#46;d&#37;6&#57;ehl%6Da&#110;%6E%40b%6Bhw&#46;&#111;%72&#103;'>lukas&#46;die&#104;lman&#110;&#64;bk&#104;w&#46;&#111;rg</a>
      </li>
    </ul>

    <h2 class="h4">Stiftungsrat</h2>

    <ul class="list--wide">

      <li>
        Nils Knörnschild (Vorsitz)<br>Otto von Guericke Str. 59<br>39104 Magdeburg
      </li>

      <li>
        Lisa Rathsarn (Vorsitz)<br> Wehmerweg 2a<br> 22529 Hamburg
      </li>

      <li>
        Lutz Jäger<br> Zeppelinstraße 28<br> 70193 Stuttgart

      </li>

      <li>
        Pamela Conde<br> Fahrenheitstraße 24<br> 12207 Berlin
      </li>

      <li>
        Ksenija Jalzabetic<br> Lilienweg 9<br> 71397 Leutenbach
      </li>

    </ul>


  </section>

  {% image "./src/assets/photos/kontakte.jpg",
  "Kinder essen Bananen" %}

  <section class="datenschutz">
    <h2 class="h3" id="datenschutz">Datenschutzerklärung</h2>

    <p>
      Verantwortlich für die Datenverarbeitung im Sinne des Datenschutzrechtes ist die Gemeinschaftsstiftung
      Bolivianisches Kinderhilfswerk, vertreten durch ihre
      <a href="#vorstand">Vorstände</a>.
    </p>

    <ol class="list--wide">
      <li>Die Gemeinschaftsstiftung Bolivianisches Kinderhilfswerk erhebt und verarbeitet nur personenbezogene Daten,
        die für die Erfüllung des Stiftungszweckes benötigt werden und die uns von den Spendern und Zustiftern
        freiwillig zur Verfügung gestellt werden.</li>
      <li>Die Gemeinschaftsstiftung erhält durch die Überweisungen von Spenden und Zustiftungen personenbezogene Daten
        (Bankverbindungen, Namen, Anschrift und E-Mail Adressen). Diese Informationen werden in einer Druckansicht des
        Spendenkontos der Gemeinschaftsstiftung und in einer Datei gespeichert, die durch technische Maßnahmen vor der
        Kenntnisnahme Dritter geschützt ist. Die Daten werden ausschließlich für die Verwaltung und Weitergabe der
        Spenden gespeichert, Brief- und E-Mailverkehr mit Spendern werden nur zur Pflege der Beziehungen gespeichert.
      </li>
      <li>Rechtsgrundlage für die Verarbeitung ist Art. 6 Abs. 1 Buchstabe b) (Vertragserfüllung) sowie Buchstabe f)
        (berechtigtes Interesse) DSGVO.</li>
      <li>Über unsere Webseite bringen wir keine personenbezogenen Daten von Ihnen in Erfahrung. Ein Aufenthalt auf
        unserer Webseite wird protokolliert. Erfasst werden hierbei die aktuelle IP-Adresse Ihres Rechners, die
        angewählten Websites, Ihr Browsertyp, Datum und Uhrzeit sowie das Betriebssystem Ihres Rechners. Diese Daten
        werden nur zur Datensicherung erhoben. Wir werden diese Informationen zu keinen weiteren Zwecken verwenden. Bei
        Links auf unserer Webseite zu anderen Organisationen ist die Gemeinschaftsstiftung nicht verantwortlich für die
        Datenschutzanforderungen oder den Inhalt dieser Webseiten.
      </li>
      <li>
        Sie haben das Recht, unentgeltlich Auskunft über die bei uns gespeicherten Daten zu erhalten. Darüber hinaus
        können sie gegenüber der Gemeinschaftsstiftung ihre Rechte auf Sperrung, Löschung, Berichtigung oder
        Einschränkung der Verarbeitung geltend machen. Sollte die Löschung Ihrer Daten verlangt werden, kommen wir dem
        Wunsch unverzüglich nach, es sei denn, es stehen gesetzliche Aufbewahrungspflichten entgegen. Die Einwilligung
        für eine bestimmte Datennutzung kann jederzeit durch schriftliche Mitteilung an die Gemeinschaftsstiftung
        widerrufen werden Wir speichern personenbezogene Daten nicht länger, als wir sie für den jeweiligen
        Verarbeitungszweck benötigen, es sei denn es stehen gesetzliche Verpflichtungen entgegen.
      </li>
      <li>Regulär speichern wir ihre Daten so lange, wie wir mit möglichen Spenden von Ihnen rechnen. Es ist eine
        Speicherdauer von zehn Jahren nach Eingang Ihrer letzten Spende oder fünf Jahre nach unserem letzten Kontakt mit
        Ihnen vorgesehen.</li>
      <li>Wenn Sie der Ansicht sind, dass wir ihre personenbezogenen Daten nicht rechtmäßig verarbeitet haben, können
        Sie Beschwerde beim Landesbeauftragten für Datenschutz und Informationsfreiheit Baden-Württemberg, Königstraße
        10a, 70173 Stuttgart, Telefon; (0711) 61 55 41-0, E-Mail:
        <a
          href='mailto&#58;p&#111;%&#55;&#51;%74%7&#51;t%&#54;&#53;l&#108;er&#37;40&#108;fdi&#46;bwl&#46;%64&#101;'>post&#115;&#116;ell&#101;r&#64;&#108;&#102;di&#46;b&#119;l&#46;&#100;&#101;</a>,
        einlegen.
      </li>
      <li>
        Wir geben Ihre Daten grundsätzlich nicht an Dritte weiter, bis auf folgende Ausnahmen: Wenn Sie sich für eine
        Kinderpatenschaft bei der NGO CEMVA entscheiden, übermitteln wir Ihren Namen, Ihre Anschrift und Ihre E-Mail
        Adresse an die NGO CEMVA in Sucre, Bolivien. Diese verpflichten wir vertraglich, Ihre Daten ebenfalls nicht
        weiterzugeben und nach Beendigung des jeweiligen Auftrags vollständig zu löschen.
      </li>
    </ol>

  </section>

</article>