---
title: Projekt CEMVA
date: 2021-07-11
layout: layout.njk
eleventyNavigation:
  key: Projekt
  order: 3
---

<article>

  <section>

    <h1 class="page__title">Projekt CEMVA</h1>

    <p>Der Schwerpunkt unserer Arbeit liegt in einem Vorort im Norden der Stadt Sucre. Dort entstand mit maßgeblicher Hilfe des <i>Bolivianischen Kinderhilfswerk e.V.</i> das <i>Centro Educativo Multifunctional Villa Armonía (CEMVA)</i> </p>

    <p>Das Zentrum fängt die Kinder der Landflüchtlingen auf. Neben Ernährung und medizinischer Versorgung beginnt mit der Kindergrippe, über den Kindergarten, Gesamtschule bis zur Ausbildung in Werkstätten, der Weg in eine bessere Zukunft. Damit die Jugendlichen beim Eintitt in ihr Erwachsenenleben eine gute Basis haben.</p>

  </section>

  {% image "./src/assets/photos/201811_guarderia_educadoras.jpg",
  "Erzieherinnen der Kinderkrippe" %}

  <section>

    <h2 class="h3">Wie helfen wir?</h2>

    <p>Der Verein und die Stiftung leisten gemeinsam einen Beitrag zur</p>

    <ul>
      <li>fürsorglichen Betreuung</li>
      <li>schulischen Bildung</li>
      <li>handwerklichen Ausbildung</li>
      <li>verbesserten Ernährung</li>
      <li>medizinischen Versorgung von Kleinkindern, Kindern und Jugendlichen zur Sicherung und Verbesserung ihrer Lebensbedingungen und damit für eine bessere Zukunft.</li>
    </ul>

  </section>

  <section>
    <h2 class="h3">Links</h2>

    <p>Weitere Einblicke geben die Webseite des Vereins <a href="https://www.bkhw.org/">Bolivianisches Kinderhilfswerk e.V.</a> und die des Projekts <a href="http://www.cemva.org/">CEMVA</a>. </p>
  </section>

</article>