---
title: Projekt CEMVA
date: 2018-12-01
eleventyNavigation:
  key: Projekt
  order: 3
---

<!DOCTYPE html>
<html lang="de">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Projekt - Gemeinschaftsstiftung Bolivianisches Kinderhilfswerk</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" sizes="any">
    <link rel="stylesheet" href="/assets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito|Alegreya:800&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="container">

      {% include 'header.njk' %}

      <main>

        <article>

          <section>

            <h1 class="page__title">Projekt CEMVA</h1>

            <p>Der Schwerpunkt unserer Arbeit liegt in einem Vorort im Norden der Stadt Sucre. Dort entstand mit maßgeblicher Hilfe des
              <i>Bolivianischen Kinderhilfswerk e.V.</i>
              das
              <i>Centro Educativo Multifunctional Villa Armonía (CEMVA)</i>
            </p>

            <p>Das Zentrum fängt die Kinder der Landflüchtlingen auf. Neben Ernährung und medizinischer Versorgung beginnt mit der Kindergrippe, über den Kindergarten, Gesamtschule bis zur Ausbildung in Werkstätten, der Weg in eine bessere Zukunft. Damit die Jugendlichen beim Eintitt in ihr Erwachsenenleben eine gute Basis haben.</p>

          </section>

          <img class="img--responsive" src="/assets/photos/201811_guarderia_educadoras.jpg">

          <section>

            <h3>Wie helfen wir ?</h3>

            <p>Der Verein und die Stiftung leisten gemeinsam einen Beitrag zur</p>

            <ul>
              <li>fürsorglichen Betreuung</li>
              <li>schulischen Bildung</li>
              <li>
                handwerklichen Ausbildung</li>
              <li>verbesserten Ernährung</li>
              <li>
                medizinischen Versorgung von Kleinkindern, Kindern und Jugendlichen zur Sicherung und Verbesserung ihrer Lebensbedingungen und damit für eine bessere Zukunft.</li>
            </ul>

          </section>

          <section>
            <h3 id="aktuelles">Aktuelles</h3>

            <p>Ein Einblick geben die
              <a href="http://www.bkhw.org/jahresbericht.html">Jahresberichte des Vereins Bolivianisches Kinderhilfswerks e.V.</a>
              und die
              <a href="http://www.cemva-sucre.org/">Homepage von CEMVA</a>.</p>

          </section>

        </main>

        {% include 'footer.njk' %}

      </div>
      <!-- /container -->

    </body>

  </html>