---
title: Satzung
date: 2019-07-16
eleventyNavigation:
  key: Satzung
  order: 4  
---

<!DOCTYPE html>
<html lang="de">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Satzung - Gemeinschaftsstiftung Bolivianisches Kinderhilfswerk</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" sizes="any">
    <link rel="stylesheet" href="/assets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito|Alegreya:800&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="container">

      {% include 'header.njk' %}

      <main>

        <article class="satzung__list">

          <section>

            <h1 class="page__title">
              Satzung</h1>

            <h4 class="list__item--dontcount">Präambel</h4>
            <p>Das Bolivianische Kinderhilfswerks e.V. ist in Bolivien bei der Förderung und Fürsorge der Jugend tätig. Es fördert Einrichtungen und Maßnahmen für Kinder und Jugendliche. Die Stiftung soll diese Projekte langfristig finanziell absichern.</p>

            <h4>Name, Rechtsform, Sitz und Geschäftsjahr</h4>
            <ol class="list--wide">
              <li>Die Stiftung führt den Namen "Gemeinschaftsstiftung Bolivianisches Kinderhilfswerk".</li>
              <li>Sie ist eine rechtsfähige Stiftung.</li>
              <li>Sie hat Ihren Sitz in 70190 Stuttgart.</li>
              <li>Das Geschäftsjahr ist das Kalenderjahr.</li>
            </h4>
          </ol>

          <h4>Zweck der Stiftung</h4>
          <ol class="list--wide">
            <li>Zweck der Stiftung ist die finanzielle Unterstützung des Schul- und Bildungsprojektes CEMVA (Centro Educativo Multifuncional Villa Armonia) im Vorort Villa Armonia der Landeshauptstadt von Bolivien, Sucre, in Südamerika. Die bisherige Arbeit soll fortgeführt, die Entwicklung gewährleistet und das Projekt langfristig abgesichert werden..</li>
            <li>Darüber hinaus können auch andere Projekte mit der gleichen Zielsetzung in Bolivien gefördert werden.</li>
            <li>Der Stiftungszweck wird verwirklicht beispielsweise durch:
              <ol class="list--wide list--level2">
                <li>Bau und Unterhalt von Gebäuden für die Kleinkinderbetreuung, Kindergärten, Schulen und Ausbildungsstätten.</li>
                <li>Sicherung und Verbesserung der Lebensbedingungen.</li>
                <li>Durchführung von Bildungs- und Erziehungsmaßnahmen.</li>
                <li>Unterstützung von kulturellen Veranstaltungen in beiden Ländern.</li>
                <li>Unterstützung von Personen, die wesentlich zur Fortführung der Projekte beitragen.</li>
              </ol>
            </li>
          </ol>
          <p>Die genannten Maßnahmen können auch in gemeinsamer Trägerschaft mit anderen steuerbegünstigten Körperschaften oder Körperschaften des öffentlichen Rechts aus beiden Ländern durchgeführt werden.</p>

          <h4>Gemeinnützigkeit</h4>
          <ol class="list--wide">
            <li>Die Stiftung verfolgt ausschließlich und unmittelbar gemeinnützige Zwecke im Sinne des Abschnitts "Steuerbegünstigte Zwecke" der Abgabenordnung.</li>
            <li>Die Stiftung ist selbstlos tätig. Sie verfolgt nicht in erster Linie eigenwirtschaftliche Zwecke. Die Mittel der Stiftung dürfen nur für die satzungsgemäßen Zwecke verwendet werden.</li>
            <li>Die Stiftung kann sich zur Erfüllung ihrer Zwecke Hilfspersonen im Sinne des § 57 Abs. 1 Satz 2 AO bedienen.</li>
            <li>Es darf keine Person durch Ausgaben, die dem Zweck der Stiftung fremd sind oder durch unverhältnismäßig hohe Vergütungen begünstigt werden.</li>
          </ol>

          <h4>Stiftungsvermögen</h4>
          <ol class="list--wide">
            <li>Das Stiftungsvermögen besteht aus einer Erstausstattung in Höhe von 130.608 Euro.</li>
            <li>Das Stiftungsvermögen ist in seinem Wert grundsätzlich zu erhalten. Es kann ausnahmsweise um eine Höhe von 15% seines Wertes vermindert werden, wenn dies zur Erfüllung eines Stiftungszweckes erforderlich werden sollte und seine Auffüllung in den nächsten Jahren sichergestellt werden kann. Durch die Auffüllung darf die Erfüllung des Stiftungszweckes nicht beeinträchtigt werden. Das Stiftungsvermögen kann zu seiner Werterhaltung bzw. zur Stärkung seiner Ertragskraft umgeschichtet wenden.</li>
            <li>Dem Stiftungsvermögen wachsen die Zuwendungen Dritter zu, die dazu bestimmt sind (Zustiftungen).</li>
          </ol>

          <h4>Verwendung der Vermögenserträge und Zuwendungen</h4>
          <ol class="list--wide">
            <li>Die Stiftung erfüllt ihre Aufgabe aus den Erträgen des Stiftungsvermögens und aus Zuwendungen, soweit diese nicht ausdrücklich zur Stärkung des Stiftungsvermögens bestimmt sind.</li>
            <li>Die Stiftung kann ihre Mittel ganz oder teilweise einer Rücklage zuführen, soweit dies erforderlich ist, um ihre steuerbegünstigten Zwecke nachhaltig erfüllen können und soweit für die Verwendung der Rücklagen konkrete Ziel- und Zeitvorstellungen bestehen.</li>
            <li>Im Rahmen des steuerlich zulässigen können zur Werterhaltung Teile der jährlichen Erträge einer freien Rücklage oder dem Stiftungsvermögen zugeführt werden.</li>
            <li>Ein Rechtsanspruch Dritter auf Gewährung der jederzeit widerruflichen Förderleistungen aus der Stiftung besteht aufgrund dieser Satzung nicht.</li>
          </ol>

          <h4>
            Organe der Stiftung</h4>
          <ol class="list--wide">
            <li>Organe der Stiftung sind der Stiftungsrat und der Vorstand.</li>
            <li>Die Mitglieder der Stiftungsorgane sind ehrenamtlich tätig. Sie haben Anspruch auf angemessenen Ersatz ihrer bei der Verfolgung ihrer Tätigkeit für die Stiftung angefallenen Aufwendungen. Bewertung der Angemessenheit erfolgt durch den Stiftungsrat.</li>
          </ol>

          <h4>Zusammensetzung des Vorstandes</h4>
          <ol class="list--wide">
            <li>Der Vorstand besteht aus einer bis höchstens drei Personen.</li>
            <li>Der erste Vorstand wird von der Gründungsversammlung der "Gemeinschaftsstiftung Bolivianisches Kinderhilfswerk" bestellt; die weiteren Vorstandsmitglieder werden vom Stiftungsrat berufen. Der Vorsitzende des Vorstandes ist ein Vertreter des Bolivianischen Kinderhilfswerks e.V.</li>
            <li>Die Amtszeit beträgt vier Jahre entsprechend des Zeitraumes des Stiftungsrates. Mehrmalige Wiederberufung ist zulässig. Die Vorstandsmitglieder können aus wichtigem Grund jederzeit vom Stiftungsrat abberufen werden.</li>
            <li>Nach Ablauf der Amtszeit führt der amtierende Vorstand die Geschäfte bis zur Amtsübernahme durch den neuen Vorstand fort. Scheidet ein Vorstandsmitglied vorzeitig aus, so wird sein Nachfolger für die restliche Amtszeit vom Stiftungsrat benannt.</li>
            <li>Die Mitglieder des Vorstandes sind ehrenamtlich tätig. Ihnen dürfen keine Vermögensvorteile zugewendet werden. Sie haben Anspruch auf angemessenen Ersatz ihrer bei der Verfolgung ihrer Tätigkeit für die Stiftung angefallenen Aufwendungen.</li>
          </ol>

          <h4>Rechte und Pflichten des Vorstandes</h4>
          <ol class="list--wide">
            <li>Der Vorstand vertritt die Stiftung gerichtlich und außergerichtlich. Er hat die Stellung eines gesetzlichen Vertreters. Die Mitglieder des Vorstandes sind einzelvertretungsberechtigt.
            </li>
            <li>Der Vorstand verwaltet die Stiftung im Rahmen des Stiftungsgesetzes und dieser Satzung. Zu seinen Aufgaben gehören insbesondere:
              <ol class="list--wide list--level2">
                <li>die Verwaltung des Stiftungsvermögens einschließlich der Führung von Büchern und der Aufstellung des Jahresabschlusses.</li>
                <li>die Aufstellung eines Haushaltsplanes.</li>
                <li>die Abfassung des Jahresberichtes und Berichterstattung an den Stiftungsrat.</li>
                <li>die Ausführung der Beschlüsse des Stiftungsrates.</li>
              </ol>
            </li>
          </ol>

          <h4>Zusammensetzung des Stiftungsrates</h4>
          <ol class="list--wide">
            <li>Der Stiftungsrat besteht aus mindestens 3 und höchstens 5 Personen. Er setzt sich zusammen aus mindestens 3 Mitgliedern des Bolivianischen Kinderhilfswerk e.V. und entsprechend weiteren Personen.
            </li>
            <li>Der erste Stiftungsrat wird von Mitgliedern des Bolivianischen Kinderhilfswerk e.V. auf der Gründungsversammlung der Stiftung berufen. Danach berufen die Stiftungsratsmitglieder jeweils die neuen Stiftungsratsmitglieder unter Absatz 1.</li>
            <li>Die Amtszeit beträgt vier Jahre und dauert von einer Versammlung des Stiftungsrates bis zur nächsten Wiederberufung ist möglich.</li>
            <li>Die Stiftungsratsmitglieder können sich durch ein anderes Stiftungsratmitglied vertreten lassen.</li>
            <li>Der Stiftungsrat wählt aus seiner Mitte für die Dauer einer Amtsperiode einen Vorsitzenden und einen stellvertretenden Vorsitzenden.</li>
          </ol>

          <h4>Aufgaben des Stiftungsrates</h4>
          <ol class="list--wide">
            <li>
              Der Stiftungsrat entscheidet über die Grundsätze der Stiftungsarbeit und berät und überwacht den Vorstand. Zu den Aufgaben des Stiftungsrates gehören insbesondere:
              <ol class="list--wide list--level2">
                <li>die Entscheidung über die Richtlinien der Förderungstätigkeit und über die Verwendung der Stiftungsmittel.</li>
                <li>die Berufung und Abberufung der Vorstandsmitglieder.</li>
                <li>die Genehmigung des Haushalts.</li>
                <li>Die Entgegennahme des Jahresberichts und des Jahresabschlusses sowie die Entlastung des Vorstandes.</li>
                <li>Beschlüsse über die Zweckänderungen, sonstige Satzungsänderungen sowie die Auflösung / Zusammenschluß der Stiftung gemäß §§ 12 und 13 dieser Satzung.</li>
              </ol>
            </li>
            <li>
              Der Stiftungsrat hat den Jahresabschluss durch einen Prüfer oder eine Prüfungsgesellschaft überprüfen lassen.</li>
          </ol>

          <h4>Beschlussfassung</h4>
          <ol class="list--wide">
            <li>1. Die Stiftungsorgane fassen ihre Beschlüsse in Sitzungen, die nach Bedarf, mindestens jedoch einmal pro Jahr, stattfinden. Die Beschlussfassung kann auch im Wege schriftlicher Abstimmung z.B.durch telekommunikative Übermittlung über E-Mail oder Telefax erfolgen.</li>
            <li>Der Vorsitzende oder bei dessen Verhinderung der stellvertretende Vorsitzende, lädt die betreffenden Mitglieder schriftlich mit einer zweiwöchigen Frist unter Nennung der Tagesordnungspunkte ein oder fordert sie zur schriftlichen Stellungnahme auf. Ladungsfehler gelten als geheilt, wenn alle Mitglieder anwesend sind und niemand widerspricht.</li>
            <li>Bei Beschlüssen gemäß § 12 und § 13 dieser Satzung ist eine Beschlussfassung im Wege des schriftlichen Verfahrens nicht möglich.</li>
            <li>Die Stiftungsorgane sind beschlussfähig, wenn jeweils mindestens die Hälfte der Mitglieder anwesend ist. Als anwesend gelten auch Mitglieder, die mittels elektronischer Übertragungswege (z.B. Telefon-/Videokonferenz) an der Sitzung teilnehmen. Sie beschließen mit einfacher Mehrheit der Stimmen der Anwesenden. Bei Stimmengleichheit gibt die Stimme des jeweiligen Vorsitzenden ersatzweise seines Stellvertreters den Ausschlag.</li>
            <li>Kein Organmitglied kann mehr als ein anderes Organmitglied vertreten.</li>
            <li>Über die Sitzungen der Organe sind Niederschriften zu fertigen und vom Sitzungsleiter und dem Protokollanten zu unterzeichnen. Sie sind allen Mitgliedern und dem Vorsitzenden des Organs zur Kenntnis zu bringen.</li>
          </ol>

          <h4>Anpassung der Stiftung an veränderte Verhältnisse</h4>
          <ol class="list--wide">
            <li>Ändern sich die Verhältnisse derart, dass die Erfüllung des Stiftungszweckes vom Stiftungsrat nicht mehr für sinnvoll gehalten wird, so kann er einen geänderten Zweck beschließen. Der Zweck hat gemeinnützig zu sein und in Bolivien zu liegen.</li>
            <li>Der Beschluss bedarf einer Mehrheit von drei Vierteln der Stiftungsratsmitglieder.</li>
            <li>Über Satzungsänderungen, die nicht den Stiftungszweck betreffen, beschließt der Stiftungsrat mit der Mehrheit seiner Mitglieder.</li>
          </ol>

          <h4>
            Auflösung der Stiftung und/oder Zusammenschluss mit anderen Stiftungen</h4>
          <ol class="list--wide">
            <li>Der Stiftungsrat kann die Auflösung der Stiftung oder den Zusammenschluss mit einer anderen Stiftung beschließen, wenn die Umstände es nicht mehr zulassen, den Stiftungszweck dauernd nachhaltig zu erfüllen oder sich Vorteile für den Stiftungszweck und -umfang ergeben; § 12Abs. 2 der Satzung gilt entsprechend. Die durch den Zusmmenschluss entstehende neue Stiftung muss ebenfalls steuerbegünstigt sein.</li>
            <li>Bei Auflösung oder Aufhebung der Stiftung fällt das Vermögen an das Bolivianische Kinderhilfswerk e.V..</li>
          </ol>

          <h4>Unterrichtung der Aufsichtsbehörde</h4>
          <p>
            Die Stiftungsaufsichtsbehörde ist auf Wunsch jederzeit über alle Angelegenheiten der Stiftung zu unterrichten. Ihr ist unaufgefordert der Jahresabschluss vorzulegen.</p>

          <h4>Stellung des Finanzamtes</h4>
          <p>
            Unbeschadet der sich aus dem Stiftungsgesetz ergebenden Genehmigungspflichten sind Beschlüsse über Satzungsänderungen und über die Auflösung der Stiftung dem zuständigen Finanzamt anzuzeigen. Bei Satzungsänderungen, die den Zweck der Stiftung betreffen, ist zuvor eine Auskunft des Finanzamtes zur Steuerbegünstigung einzuholen.</p>

          <h4>Stiftungsaufsichtsbehörde</h4>
          <p>
            Stiftungsaufsichtsbehörde ist das Regierungspräsidium Stuttgart, oberste Stiftungsaufsichtsbehörde ist das Innenministerium des Landes Baden-Württemberg. Die stiftungsrechtlichen Genehmigungs- und Zustimmungsbefugnisse sind zu beachten.</p>

          <h4>Inkrafttreten</h4>
          <p>
            Diese Stiftungssatzung tritt mit dem Tage der Genehmigung der Stiftungssatzung in Kraft.</p>
          <p>Stuttgart, den 16. Juli 2019</p>

        </section>

      </article>

    </main>

    {% include 'footer.njk' %}

  </div>
  <!-- /container -->

</body>

</html>