---
title: Spenden
date: 2018-12-01
layout: layout.njk
eleventyNavigation:
  key: Spenden
  order: 5
---
<article>

  <section>

    <h1 class="page__title">Spenden</h1>

    <table>
      <tr>
        <td>IBAN:</td>
        <td>DE98611500200007481048</td>
      </tr>
      <tr>
        <td>BIC:</td>
        <td>ESSLDE66XXX</td>
      </tr>
      <tr>
        <td>Bank:</td>
        <td>Kreissparkasse Esslingen-Nürtingen</td>
      </tr>
      <tr>
        <td>Verwendungszweck:</td>
        <td>Bitte geben Sie das Stichwort
          <em>SPENDE</em>
          sowie Ihre vollständige Adresse auf dem Überweisungsträger an, damit wir Ihnen eine Zuwendungsbestätigung ausstellen können.</td>
      </tr>
    </table>

  </section>

  <section>
    <h2 class="h3">Zustiftungen</h2>

    <table>
      <tr>
        <td>IBAN:</td>
        <td>DE98611500200007481048</td>
      </tr>
      <tr>
        <td>BIC:</td>
        <td>ESSLDE66XXX</td>
      </tr>
      <tr>
        <td>Bank:</td>
        <td>Kreissparkasse Esslingen-Nürtingen</td>
      </tr>
      <tr>
        <td>Verwendungszweck:</td>
        <td>Bitte geben Sie das Stichwort
          <em>ZUSTIFTUNG</em>
          sowie Ihre vollständige Adresse auf dem Überweisungsträger an, damit wir Ihnen eine Zuwendungsbestätigung ausstellen können.</td>
      </tr>
    </table>

  </section>

  {% image "./src/assets/photos/201811_casa.jpg",
  "Drei Kinder vor einem unverputzen Haus" %}

  <section>
    <h2 class="h3">Warum stiften?</h2>

    <p>Um die Projektarbeiten dauerhaft und nachhaltig zu sichern bedarf es konstanter Unterstützung. Stiftungen garantieren eine langfristige und sichere Finanzierung von Projekten aus den Erlösen des Stiftungsvermögens.</p>
    <p>
      Wir wollen mit unserer Stiftung allen sozial engagierten Menschen eine Heimat geben, die ganz konkret Kindern und Jugendlichen in Bolivien helfen und damit Gutes tun wollen.</p>
    <p>Stiftungen sind gleich in doppelter Hinsicht ein konstitutives Element der Gesellschaft. Zum einen ist Stiften selbst eine Ausdrucksform aktiven Engagements. Wenn Menschen privates Vermögen dauerhaft für gemeinnützige Zwecke zur Verfügung stellen, übernehmen sie Mitverantwortung für die gesellschaftliche Entwicklung. Zum anderen gehören Stiftungen zu den größten Förderern bürgerschaftlichen Engagements.</p>

  </section>

</article>